@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
#bodyLogin {
  background-color: #EFF6FF !important;
  font-family: "Inter" !important;
  font-weight: 300 !important;
}

#login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

#login-form h3 {
  font-size: 28px;
  font-weight: bold;
}

#login-form .inputCandidatBoursier {
  padding-left: 20px;
}

#login-form .btn-login {
  background-color: #20519D !important;
  width: 220px !important;
  height: 50px !important;
  border-radius: 0 !important;
  font-size: 14px !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#login-form .btn-login:hover {
  width: 250px  !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#login-form .formContainer {
  background-color: #fff !important;
  -webkit-box-shadow: 7px 4px 50px -25px #000000;
          box-shadow: 7px 4px 50px -25px #000000;
  padding: 20px !important;
}

#login-form .form-control {
  height: 50px !important;
}

#login-form .form-control:focus {
  border: 2px solid #20519D !important;
  -webkit-box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.11) !important;
          box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.11) !important;
}

#login-form .mdpOublier {
  text-align: end !important;
}

#login-form .mdpOublier a {
  font-size: 12px !important;
  color: #20519D !important;
}

#login-form .termsBox {
  font-size: 12px !important;
}

#login-form .termsBox a {
  text-decoration: none !important;
  color: #20519D !important;
}

#login-form .termsBox input {
  top: -6px;
  position: relative;
}

#login-form .jeSuis p {
  margin-top: 0 !important;
  margin-bottom: 5px !important;
}

#login-form .form-secondaire-Candidat .form-secondaire-Boursier {
  -webkit-transition: 0.5s !important;
  transition: 0.5s !important;
}

#bodyIndex {
  overflow-y: hidden;
}

#bodyBanner {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  overflow: hidden;
}

#bodyBanner #divBannerMask {
  -webkit-transform: translateY(300%);
          transform: translateY(300%);
}

#bodyBanner #divBienvenue {
  -webkit-transform: translateY(1000%);
          transform: translateY(1000%);
}

#bodyBanner #divDateLimite {
  -webkit-transform: translateY(300%);
          transform: translateY(300%);
}

.connecter_index {
  color: white !important;
  border-color: white !important;
  border-radius: 0 !important;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  margin-left: 20px !important;
  width: 180px !important;
}

.connecter_index:hover {
  background: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  width: 210px !important;
}

.fixed-top {
  position: absolute !important;
}

.btn-outline-primary {
  color: #20519d !important;
  border-color: #20519d !important;
  border-radius: 0 !important;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.btn-outline-primary:hover {
  background: none;
  width: 200px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.banner-parent {
  position: relative;
}

.banner-parent .banner-mask {
  position: absolute;
  background-image: url(../Images/bluebg.png);
  background-size: cover;
}

.banner-parent .banner-image {
  background-image: url(../Images/bg.png);
  background-size: cover;
  height: 100vh !important;
  color: white;
}

.banner-parent .banner-image .content h1 {
  font-size: 36px;
  font-weight: bold;
  font-family: "Inter";
}

.banner-parent .banner-image .content h4 {
  font-size: 24px;
  font-weight: bold;
  font-family: "Inter";
}

.banner-parent .banner-image .content .date {
  background-image: url(../Images/bg_date.svg);
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 20%;
}

.banner-parent .banner-image .content .date img {
  width: auto;
  margin-top: 20px;
}

.banner-parent .banner-image .content .date p {
  font-size: 18px;
  font-family: "Inter";
}

.banner-parent .banner-image .content .date h5 {
  font-size: 28px;
  font-weight: bold;
  font-family: "Inter";
}

.footer_parent {
  background-color: #0d1f3b;
  position: relative;
}

.footer_parent .bg_footer {
  position: absolute;
  bottom: 0;
  left: 11%;
}

.footer_parent .footer-top .footer_item {
  padding-top: 2rem !important;
}

.footer_parent .footer-top .footer_conecter a {
  color: #fff !important;
  text-decoration: none !important;
  font-family: "Inter";
}

.footer_parent .footer-bottom p {
  color: #fff;
  position: relative;
  font-family: "Inter";
}

.footer_parent .footer-bottom p::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 3px;
  height: 27px;
  margin-left: 55px;
  margin-right: 15px;
}

.footer_parent .footer-bottom a {
  margin-left: 70px;
  color: white;
  text-decoration: none;
  height: 35px;
  font-family: "Inter";
}

.footer_parent hr {
  height: 2px !important;
  color: white;
}

@media only screen and (max-width: 600px) {
  .bg_footer {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

#formulaireLogin [type="radio"]:checked,
#formulaireLogin [type="radio"]:not(:checked) {
  position: relative;
  left: 30px;
  top: 7px;
  z-index: 99;
}

#formulaireLogin .checkbox-tools:checked + label,
#formulaireLogin .checkbox-tools:not(:checked) + label {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 50px;
  padding: 10px 10px 10px 40px;
  text-align: center;
  color: black;
  -webkit-transition: -webkit-box-shadow 150ms ease;
  transition: -webkit-box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease, -webkit-box-shadow 150ms ease;
  left: -20px;
}

#formulaireLogin .checkbox-tools:checked + label {
  border: 2px solid #20519D;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#formulaireLogin .checkbox-tools:not(:checked) + label {
  background-color: #fff;
  border: 1px solid #ced4da;
}

#formulaireLogin .checkbox-tools:not(:checked) + label:hover,
#formulaireLogin .checkbox-tools:checked + label:hover,
#formulaireLogin [type="radio"]:hover + label {
  cursor: pointer;
}

#formulaireLogin .form-check-input {
  width: 24px !important;
  height: 24px !important;
}

#formulaireLogin .form-check-input:checked {
  background-color: #20519D !important;
  border-color: #20519D !important;
}

#formulaireLogin .inputContainer {
  margin-right: 15px;
}

.conecter_CGU {
  color: #20519D !important;
  border-color: #20519D !important;
  border-radius: 0 !important;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  width: 180px !important;
}

.conecter_CGU:hover {
  background: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  width: 210px !important;
}

.background {
  background-color: #eff6ff;
  height: 300px;
  margin-bottom: 30px;
}

.background .banner_CGU {
  position: relative;
}

.background .banner_CGU .content {
  position: absolute;
  left: 0;
  bottom: -270px;
}

.background .banner_CGU .content h1 {
  font-size: 36px;
  font-weight: bold;
  font-family: 'Inter';
}

.description {
  text-align: justify;
  width: 75%;
  margin-bottom: 80px;
}

.description .paragraph_content {
  margin-left: 5rem;
  margin-right: 5rem;
}

@media only screen and (max-width: 600px) {
  .description .paragraph_content {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }
}
/*# sourceMappingURL=main.css.map */