.conecter_CGU {
    color: #20519D !important;
    border-color: #20519D !important;
    border-radius: 0 !important;
    transition: 0.6s ;
    width: 180px !important;
    &:hover{
        background: none;
        transition: 0.6s ;
        width: 210px !important;

    }
}
.background {
    background-color: #eff6ff;
    height: 300px;
    margin-bottom: 30px;
    .banner_CGU {
        position: relative;

        .content {
            position: absolute;
            left: 0;
            bottom: -270px;
            h1{
                font-size: 36px;
                font-weight: bold;
                font-family: 'Inter';
            }
        }
    }
}
.description{
    text-align: justify;
    width: 75%;
    margin-bottom: 80px;
    .paragraph_content{
        margin-left: 5rem ;
        margin-right: 5rem;
    }
}

@media only screen and (max-width: 600px) {
    .description
    {
        .paragraph_content{
                margin-left: 2rem !important;
                margin-right: 2rem !important;
            }
    }
  }