@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
// Animations
#bodyIndex {
  overflow-y: hidden;
}
#bodyBanner {
  transform: translateY(100%);
  overflow: hidden;
  #divBannerMask {
    transform: translateY(300%);
  }
  #divBienvenue {
    transform: translateY(1000%);
  }
  #divDateLimite {
    transform: translateY(300%);
  }
}
.connecter_index {
  color: white !important;
  border-color: white !important;
  border-radius: 0 !important;
  transition: 0.6s;
  margin-left: 20px !important;
  width: 180px !important;
  &:hover {
    background: none;
    transition: 0.6s;
    width: 210px !important;
  }
}
.fixed-top {
  position: absolute !important;
}
.btn-outline-primary {
  color: #20519d !important;
  border-color: #20519d !important;
  border-radius: 0 !important;
  transition: 0.6s;
  &:hover {
    background: none;
    width: 200px;
    transition: 0.6s;
  }
}
.banner-parent {
  position: relative;
  .banner-mask {
    position: absolute;
    background-image: url(../Images/bluebg.png);
    background-size: cover;
  }
  .banner-image {
    background-image: url(../Images/bg.png);
    background-size: cover;
    height: 100vh !important;
    color: white;
    .content {
      h1 {
        font-size: 36px;
        font-weight: bold;
        font-family: "Inter";
      }
      h4 {
        font-size: 24px;
        font-weight: bold;
        font-family: "Inter";
      }
      .date {
        background-image: url(../Images/bg_date.svg);
        width: 300px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        margin-top: 20%;
        img {
          width: auto;
          margin-top: 20px;
        }
        p {
          font-size: 18px;
          font-family: "Inter";
        }
        h5 {
          font-size: 28px;
          font-weight: bold;
          font-family: "Inter";
        }
      }
    }
  }
}

.footer_parent {
  background-color: #0d1f3b;
  position: relative;
  .bg_footer {
    position: absolute;
    bottom: 0;
    left: 11%;
  }
  .footer-top {
    .footer_item {
      padding-top: 2rem !important;
    }
    .footer_conecter {
      a {
        color: #fff !important;
        text-decoration: none !important;
        font-family: "Inter";
      }
    }
  }
  .footer-bottom {
    p {
      color: #fff;
      position: relative;
      font-family: "Inter";

      &::after {
        content: "";
        position: absolute;
        background-color: white;
        width: 3px;
        height: 27px;
        margin-left: 55px;
        margin-right: 15px;
      }
    }
    a {
      margin-left: 70px;
      color: white;
      text-decoration: none;
      height: 35px;
      font-family: "Inter";
    }
  }
  hr {
    height: 2px !important;
    color: white;
  }
}

@media only screen and (max-width: 600px) {
  .bg_footer {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
