@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
#bodyLogin {
  background-color: $LoginBgColor !important;
  font-family: "Inter" !important;
  font-weight: 300 !important;
}
#login-form {
  display: flex;
  align-items: center;
  min-height: 100vh;
  h3 {
    font-size: 28px;
    font-weight: bold;
  }
  .inputCandidatBoursier {
    padding-left: 20px;
  }

  .btn-login {
    background-color: $colorBtn !important;
    width: 220px !important;
    height: 50px !important;
    border-radius: 0 !important;
    font-size: 14px !important;
    transition: 0.5s;
    &:hover {
      width: 250px  !important;
      transition: 0.5s;
    }
  }
  .formContainer {
    background-color: $white !important;
    box-shadow: 7px 4px 50px -25px #000000;
    padding: 20px !important;
  }

  .form-control {
    height: 50px !important;
  }

  .form-control:focus {
    border: 2px solid $colorBtn !important;
    box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.11) !important;
  }
  .mdpOublier {
    text-align: end !important;
    a {
      font-size: 12px !important;
      color: $colorBtn !important;
    }
  }
  .termsBox {
    font-size: 12px !important;
    a {
      text-decoration: none !important;
      color: $colorBtn !important;
    }
    input {
      top: -6px;
      position: relative;
    }
  }
  .jeSuis {
    p {
      margin-top: 0 !important;
      margin-bottom: 5px !important;
    }
  }
  .form-secondaire-Candidat .form-secondaire-Boursier{
    transition: 0.5s !important;
  }
}
