#formulaireLogin {
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: relative;
    left: 30px;
    top: 7px;
    z-index: 99;
  }

  .checkbox-tools:checked + label,
  .checkbox-tools:not(:checked) + label {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 50px;
    padding: 10px 10px 10px 40px;
    text-align: center;
    color: black;
    transition: box-shadow 150ms ease;
    left: -20px;
  }

  .checkbox-tools:checked + label {
    border: 2px solid $colorBtn;
    background-color: $white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }

  .checkbox-tools:not(:checked) + label {
    background-color: $white;
    border: 1px solid $borderColor;
  }

  .checkbox-tools:not(:checked) + label:hover,
  .checkbox-tools:checked + label:hover,
  [type="radio"]:hover + label {
    cursor: pointer;
  }
  // Bootstrap Override
  .form-check-input {
    width: 24px !important;
    height: 24px !important;
  }
  .form-check-input:checked {
    background-color: $colorBtn !important;
    border-color: $colorBtn !important;
  }
  .inputContainer {
    margin-right: 15px;
  }
}
